#gmap_canvas{
    width: 600px;
    height: 350px;
}
#basic-addon3{
    height: 328px;
}
#basic-addon1{
    width: 40px;
}
.about_item1{
    padding-right: 25px;
}
.about_item2{
    padding-left: 25px;
}